.home-wrapper-1 {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    
    & .home-wrapper-2 {
        background-color: $color-light;
        width: 56%;
        
        & h2 {
            color: $color-light;
            margin: 0 0;
            text-align: center;
        }
        
        & .box-panels {
            padding-top: 70px;
            display: flex;      
            flex-wrap: wrap;      
            justify-content: center;
            flex-direction: row;
            

            
            & .box {
                border-radius: 1px;
                margin: 4px 4px;
                height: 120px;
                width: 42%;
                object-fit: cover;
                background-position: center;
                text-transform: uppercase;
                color: $color-light;
                flex-direction: column;
                justify-content: center;
            }    
                
            & p {
                margin: 0 0;
                display: none;
            }
            & p:hover {
                display: flex;
                

            }
            
            & .order {
                background-image: url(/images/pizzeria-home/assets/pizza-1.jpg);
            }
            
            & .book {
                background-image: url(/images/pizzeria-home/assets/pizza-2.jpg);
            }
                
            & .hours {
                background-color: $color-main;
                width: 85%;
            }
        
        }
        
    }
}