.home-wrapper-1 {
    padding-top: 40px;
    @include flex(row, center, center);
    
    .home-wrapper-2 {
        background-color: $color-light;
        width: 56%;
        
        h2 {
            color: $color-light;
            margin: 0 0;
        }
        
        .box-panels {
            display: flex;
            padding-top: 70px;
            flex-wrap: wrap;      
            
            .box {
                @include flex(column, center, center);
                background-position: center;
                border-radius: 1px;
                color: $color-light;
                height: 120px;
                margin: 4px 4px;
                object-fit: cover;
                overflow: hidden;
                position: relative;
                text-transform: uppercase;
            }    
            
            a {
                @extend .page__title;
                color: $color-light;
                text-decoration: none;
            }

            p {
                font-size: 12px;
                margin: 0 0;
                opacity: 0;
                text-align: center;
                text-transform: none;
            }
            
            
            .order {
                background-image: url(/images/pizzeria-home/assets/pizza-1.jpg);
                flex: 1;
            }
            
            .book {
                background-image: url(/images/pizzeria-home/assets/pizza-2.jpg);
                flex: 1;
            }
            
            .hours {
                background-color: $color-main;
                flex: 2 1 100%;
                p {
                    opacity: 1;
                }
            }
        }
    }
}